<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<style>
     .dbtn{
        margin-top: 20px;
        
    }
</style>
</head>
<body>
    <a href="/"><button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg></button></a>
    <h1 style="text-align: center; margin-bottom: 70px;">Convert Your Voice To Text</h1>
    <div class="container">
        <div class="card card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <input type="file" id="Document" name="Document">
            <br><br><br>
            <input type="submit" value="submit" class="btn btn-outline-dark">
            </form>
        </div>
    </div>
    <div class="container" style="margin-top: 20px;">
        <div class="card card-body">
            <small style="text-decoration: underline;">AUDIO DATA:</small>
            <br>
            <p>{{data}}</p>
            <br>
            <br>
            {% if data %}
            <p style="font-size: 8px;">You Can Now Download This Data As Text File</p>
            <a href="{% url 'converter:download1' %}"><button class="btn btn-outline-dark dbtn">Download Text File</button></a>
            {% endif %}
        </div>
    </div>
    
</body>
</html>